<% if logged_in? %>
<section data-type="profile-user" class="home-tabs">

  <article class="articles-wrapper" role="tabpanel">
  <ul id="myTab" class="nav nav-tabs-home cf" role="tablist">
    <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" aria-expended="true">All Entries</a></li>
    <li role="presentation"><a href="#random" aria-controls="random" role="tab" data-toggle="tab" aria-expended="false">Random</a></li>
    <li role="presentation"><a href="#mvoted" aria-controls="mvoted" role="tab" data-toggle="tab" aria-expended="false">Most Voted</a></li>
    <li role="presentation"><a href="#owne" aria-controls="owne" role="tab" data-toggle="tab" aria-expended="false">Own Entries</a></li>
  </ul>

  <!-- Tab panes -->
  <div id="myTabContent" class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="all" aria-labelledby="all-tab">
      <ul><%= render @entries_all %>
      <%= will_paginate @entries_all %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="random" aria-labelledby="random-tab">
      <ul><%= render @entries_random %>
      <%= will_paginate @entries_random %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="mvoted" aria-labelledby="mvoted-tab"><p>Lorem ipsum dolor sit amet.</p></div>

    <div role="tabpanel" class="tab-pane fade in" id="owne" aria-labelledby="owne-tab"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, necessitatibus.</p></div>

  </div>

  </article>
</section>

<% else %>

<section class="welcome-guest">
  <article class="fl left-note-guest">
    <header>
      <h1>Welcome to VotesMe.</h1>
    </header>
    <p class="note">
      Vote and discuss everything that you can imagine. - Get direct feedback about what people are talking about!
    </p>
    <p class="feedback">
      @john: this site is amazing. I was searching the web about.... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, obcaecati.
    </p>
    <p class="feedback">
      @clair: this site is amazing. I was searching the web about.... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, obcaecati.
    </p>
  </article>

  <article class="fr">
    <header>
      <h1>New? Sign Up</h1>
    </header>
    <%= form_for(@user, :html => { :class => 'form-sign-guest' }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_field :name, placeholder: 'Name' %>
        <%= f.text_field :email, placeholder: 'Email' %>
        <%= f.password_field :password, placeholder: 'Password' %>
        <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>

        <%= f.submit "Create my account" %>
  <% end %>
  </article>
</section>

<% end %>
