<li style="position: relative" class="entry-<%= entry.id %> bind">
<%= link_to entry_path(entry.id), class: 'tab-block-entry' do %>
      <%= image_tag(entry.img(:small), class: 'tab-img-entry') %>
      <h5 class="title-entry"><%= entry.title %>
      </h5>
      <span class="timestamp">
        Posted <%= time_ago_in_words(entry.created_at) %> ago.
      </span>
      <p class="mini-desc-entry"><%= entry.content %></p>
      <% if current_user.admin? %>
        <%= link_to entry, method: :delete do %>
        <span class="delete-entry" data-toggle="tooltip" data-placement="left" title="Delete this entry">x</span>
        <% end %>
      <% end %>
<% end %>
<aside class="vote-count bind-<%= entry.id %>">
  <%= link_to like_entry_path(entry), :remote => true, method: :put, class: 'vpos' do %>
  <i class="fa fa-thumbs-up"></i>
  <%= entry.get_upvotes.size %>
  <% end %>
  <%= link_to dislike_entry_path(entry), method: :put, class: 'npos' do %>
  <i class="fa fa-thumbs-down"></i>
  <%= entry.get_downvotes.size %>
  <% end %>
</aside>
</li>