<% if params[:search] %>
<% provide(:title, params[:search]) %>
<aside>
  <div style="text-align:center">
    <p style="color: grey; margin-bottom: 20px">Don't find what you looking for? Try adding a
    <%= link_to new_entry_path do %>
    <button class="btn-green">New Entry</button>
    <% end %>
    </p>
  </div>
</aside>
<% else %>
<% provide(:title, 'All Entries') %>
<header class="list"><h1>All Entries</h1></header>
<% end %>
<section class="entry_form">

     <% @entries.each do |e| %>
       <ul>
         <li class="entry-<%= e.id %>">
            <%= link_to entry_path(e.id), class: 'tab-block-entry' do %>
              <img class="tab-img-entry" src="<%= e.img %>" />
              <h5 class="title-entry"><%= e.title %>
              </h5>
              <span class="timestamp">
                Posted <%= time_ago_in_words(e.created_at) %> ago.
              </span>
              <p class="mini-desc-entry"><%= e.content %></p>
            <% end %>
        </li>
      </ul>
    <% end %>
    <%= will_paginate @entries %>

</section>