<% provide(:title, @entry.title ) %>
<section class="entry-id">
  <ul>
    <li class="bind entry-<%= @entry.id %>">
      <div class="tab-block-entry-show">
        <%= image_tag(@entry.img(:medium), class: 'tab-img-entry-show') %>
        <%= button_tag 'Invite Friends', class: 'btn-grey fl', style: 'margin-top: 160px; margin-left: -147px' %>
        <h5 class="title-entry"><%= @entry.title %>
        </h5>
        <span class="timestamp-show">
          <% if current_user.admin? && !current_user?(@user) %>
          <%= link_to 'Edit Entry', edit_entry_path %> |
          <% end %>
          Posted <%= time_ago_in_words(@entry.created_at) %> ago.
        </span>
        <p class="mini-desc-entry-show"><%= @entry.content %></p>
         <% if current_user && current_user.admin? %>
        <%= link_to @entry, method: :delete, class: 'delete-entry-id' do %>
        <span class="delete-entry-id" data-toggle="tooltip" data-placement="left" title="Delete this entry">x</span>
        <% end %>
      <% end %>
      </div>
      <% if logged_in? %>
        <aside style="margin-top: -40px" class="vote-count bind-<%= @entry.id %>">
          <%= link_to like_entry_path(@entry), :remote => true, method: :put, class: 'vpos' do %>
          <i class="fa fa-thumbs-up"></i>
          <span class="vcount-<%= @entry.id %>"><%= @entry.get_upvotes.size %></span>
          <% end %>
          <%= link_to dislike_entry_path(@entry), :remote => true, method: :put, class: 'npos' do %>
          <i class="fa fa-thumbs-down"></i>
          <span class="ncount-<%= @entry.id %>"><%= @entry.get_downvotes.size %></span>
          <% end %>
        </aside>
      <% else %>
        <aside style="margin-top: -40px" class="vote-count bind-<%= @entry.id %>">
          <%= link_to login_path, class: 'vpos' do %>
          <i class="fa fa-thumbs-up"></i>
          <span class="vcount-<%= @entry.id %>"><%= @entry.get_upvotes.size %></span>
          <% end %>
          <%= link_to login_path, class: 'npos' do %>
          <i class="fa fa-thumbs-down"></i>
          <span class="ncount-<%= @entry.id %>"><%= @entry.get_downvotes.size %></span>
          <% end %>
        </aside>
      <% end %>
    </li>
  </ul>
</section>

<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'votesme'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
