<% provide(:title, @user.name) %>
<section data-type="profile-user" class="user-profile fr cf">
  <header>
    <h2>
        <%= @user.name %>
        <span><i class="fa fa-cog"></i></span>
    </h2>
  </header>
  <article role="tabpanel">
  <ul id="myTab" class="nav nav-tabs cf" role="tablist">
    <li role="presentation" class="active"><a href="#entries" aria-controls="entries" role="tab" data-toggle="tab" aria-expended="true">My Entries</a><span class="budget-e"><%= @user.entries.count %></span></li>
    <li role="presentation"><a href="#positives" aria-controls="positives" role="tab" data-toggle="tab" aria-expended="false">Positives Votes</a><span class="budget-p">121</span></li>
    <li role="presentation"><a href="#negatives" aria-controls="negatives" role="tab" data-toggle="tab" aria-expended="false">Negatives Votes</a><span class="budget-n">17</span></li>
    <li role="presentation"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab" aria-expended="false">Followers</a><span class="budget-f">3</span></li>
  </ul>

  <!-- Tab panes -->
  <div id="myTabContent" class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="entries" aria-labelledby="entries-tab">
      <%= will_paginate @entries %>
      <ol>
      <%= render @entries %>
      </ol>
      <%= will_paginate @entries %>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="positives" aria-labelledby="positives-tab"><p>IM A POSITIVE VOTE Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, explicabo illo praesentium magni iure nostrum sint quod ab delectus iusto.</p></div>

    <div role="tabpanel" class="tab-pane fade in" id="negatives" aria-labelledby="negatives-tab"><p>IM A NEGATIVE VOTE Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, explicabo illo praesentium magni iure nostrum sint quod ab delectus iusto.</p></div>

    <div role="tabpanel" class="tab-pane fade in" id="followers" aria-labelledby="followers-tab"><p>IM A FOLLLOWER Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, explicabo illo praesentium magni iure nostrum sint quod ab delectus iusto.</p></div>

  </div>

  </article>
</section>

<aside data-type="profile-sidebar" class="sidebar-profile cf">
  <div><%= gravatar_for @user, size: 150 %></div>
  <div class="info-user">
    <ul>
      <li>Location:<span class="fr">Barcelona (ES)</span></li>
      <li>Age:<span class="fr">22</span></li>
      <li>Gender:<span class="fr">Male</span></li>
    </ul>
  </div>
</aside>