<% provide(:title, @user.name) %>
<section data-type="profile-user" class="user-profile fr cf">
  <header>
    <h2>
        <%= @user.name %>
        <span>
          <%= render 'follow_form' if logged_in? %>
          </span>
    </h2>
  </header>
  <article role="tabpanel">
  <ul id="myTab" class="nav nav-tabs cf" role="tablist">
    <li role="presentation" class="active"><a href="#entries" aria-controls="entries" role="tab" data-toggle="tab" aria-expended="true">My Entries</a><span class="budget-e"><%= @user.entries.count %></span></li>
    <li role="presentation"><a href="#positives" aria-controls="positives" role="tab" data-toggle="tab" aria-expended="false">Positives Votes</a><span class="budget-p"><%= @user.find_up_voted_items.count %></span></li>
    <li role="presentation"><a href="#negatives" aria-controls="negatives" role="tab" data-toggle="tab" aria-expended="false">Negatives Votes</a><span class="budget-n"><%= @user.find_down_voted_items.count %></span></li>
    <li role="presentation"><a href="#followers" aria-controls="followers" role="tab" data-toggle="tab" aria-expended="false">Followers</a><span class="budget-f"><%= @user.followers.count %></span></li>
  </ul>

  <!-- Tab panes -->
  <div id="myTabContent" class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="entries" aria-labelledby="entries-tab">
      <div class="pag-ajax">
        <%= will_paginate @entries, previous_label: 'Prev',  next_label: 'Next', page_links: true %>
      <ul>
      <%= render @entries %>
      </ul>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="positives" aria-labelledby="positives-tab">
      <ul>
        <%= render @entries_pos %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="negatives" aria-labelledby="negatives-tab">
      <ul>
        <%= render @entries_neg %>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade in" id="followers" aria-labelledby="followers-tab">
      <ul class="users follow">
        <h3><%= @title %></h3>
        <%= render @users %>
      </ul>
    </div>

  </div>

  </article>
</section>

<aside data-type="profile-sidebar" class="sidebar-profile cf">
  <div><%= gravatar_for @user, size: 150 %></div>
  <div class="info-user">
    <ul>
      <li>From:<span class="fr">Barcelona (ES)</span></li>
      <li>Age:<span class="fr">22</span></li>
      <li>Gender:<span class="fr">Male</span></li>
      <% if current_user.admin? && !current_user?(@user) %>
      <li><%= link_to "Edit user", edit_user_path(@user.id) %></li>
      <% end %>
    </ul>
    <%= render 'shared/stats' %>
  </div>
</aside>
