<!DOCTYPE html>
<html>
<head>
  <title><%= base_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if !logged_in? && current_page?(root_url) %>
<body class="guest">
  <% else %>
<body>
  <% end %>
  <%= render 'layouts/header' %>
  <div id="notice">
  <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
  </div>

    <main data-main-wrapper="main-wrapper" role="main" class="main-wrapper cf">

    <%= yield %>

  </main>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/ie9_fix' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    $(".alert-success").delay(5000).fadeOut("slow");
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })

    $('#entry_img').bind('change', function() {
      size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 2) {
        document.write('<div class="alert alert-danger">Maximum file size is 2MB. Please choose a smaller file.</div>');
      }
    });

    /* Char Count */
    var text_max = 800;
    $('.char-count').html(text_max);
    $('#textarea').keyup(function() {
        var text_length = $('#textarea').val().length;
        var text_remaining = text_max - text_length;
        $('.char-count').html(text_remaining);
        if(text_remaining <= 100) {
        $('.char-count').addClass("btn-red");
        } else {
          $('.char-count').removeClass("btn-red");
        }
    });
  </script>
</body>
</html>
