<!DOCTYPE html>
<html>
<head>
  <title><%= base_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="main-header" data-main-header="main-header" role="navigation">
    <nav data-main-nav="main-nav" role="menubar">
      <ul class="fl" role="menu">
        <li class="logo"><span><a href="#">VotesMe</a></span></li>
        <li>
          <form class="form-wrapper cf">
            <input type="text" placeholder="Search here..." required>
            <button type="submit">Search</button>
          </form>
        </li>
      </ul>
      <ul class="fr">
        <li role="menu-item">Sign In</li>
      </ul>
    </nav>
  </header>
  <main data-main-wrapper="main-wrapper" role="main" class="main-wrapper">
    <%= yield %>
  </main>

  <footer class="main-footer" data-main-footer="main-footer" role="navigation">
    <ul class="fl" data-main-left-nav-footer="left-nav-footer" role="menubar">
      <li role="menu-item">&copy Copyright</li>
    </ul>
    <ul class="fr" data-main-right-nav-footer="right-nav-footer" role="menubar">
      <li role="menu-item"><a href="#">TOS</a></li>
      <li role="menu-item"><a href="#">Contact</a></li>
      <li role="menu-item"><a href="#">Help</a></li>
    </ul>
  </footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
