<!DOCTYPE html>
<html>
<head>
  <title><%= base_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<% if !logged_in? && current_page?(root_url) %>
<body class="guest">
  <% else %>
<body>
  <% end %>
  <%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %>
    </div>
  <% end %>

    <main data-main-wrapper="main-wrapper" role="main" class="main-wrapper cf">

    <%= yield %>

  </main>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/ie9_fix' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    setTimeout(function() {
      // Do something after 10 seconds
      $('.alert-info, .alert-success').fadeOut('slow');
    }, 10000);

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</body>
</html>
