<!DOCTYPE html>
<html>
<head>
  <title><%= base_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %>
    </div>
  <% end %>
    <%= yield %>
  <%= debug(params) if Rails.env.development? %>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/ie9_fix' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    setTimeout(function() {
      // Do something after 10 seconds
      $('.alert-info').fadeOut('slow');
    }, 10000);

    $('.mini-desc').each(function(index, element) {
    $clamp(element, { clamp: 3 });
    });

  </script>
</body>
</html>
