<!DOCTYPE html>
<html>
<head>
  <title><%= base_title(yield(:title)) %></title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'profiles', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div id="notice">
  <%= render :partial => 'layouts/flash' , :locals => { :flash => flash } %>
  </div>
    <main data-main-wrapper="main-wrapper" role="main" class="main-wrapper cf">

    <%= yield %>

  </main>
  <%= render 'layouts/footer' %>
  <%= render 'layouts/ie9_fix' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    $(".alert-success").delay(5000).fadeOut("slow");
    $('#myTab a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
  </script>
</body>
</html>
